<footer class="footer">

  <ul class="nav-list social-icons">
    <li>
      <a href="https://instagram.com/yourprofile" target="_blank" rel="noopener">
        <i class="fab fa-instagram"></i>
      </a>
    </li>
    <li>
      <a href="https://facebook.com/yourprofile" target="_blank" rel="noopener">
        <i class="fab fa-facebook"></i>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/yourprofile" target="_blank" rel="noopener">
        <i class="fab fa-twitter"></i>
      </a>
    </li>
  </ul>
</footer>
