<nav class="nav-bar">
{# <svg width="100" height="100" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg" fill="none">
  <circle cx="100" cy="100" r="40" stroke="#6B705C" stroke-width="6" fill="#DDBEA9"/>
  <g transform="rotate(45 100 100)">
    <ellipse cx="100" cy="60" rx="10" ry="25" fill="#A5A58D"/>
    <ellipse cx="100" cy="140" rx="10" ry="25" fill="#A5A58D"/>
    <ellipse cx="60" cy="100" rx="25" ry="10" fill="#A5A58D"/>
    <ellipse cx="140" cy="100" rx="25" ry="10" fill="#A5A58D"/>
  </g>
  <text x="100" y="180" text-anchor="middle" font-family="serif" font-size="35" fill="#6B705C">Blomsterform</text>
</svg> #}

<svg width="100" height="100" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg" fill="none">
  <circle cx="100" cy="100" r="40" stroke="#004225" stroke-width="6" fill="#DDBEA9"/>
  <g transform="rotate(45 100 100)">
    <ellipse cx="100" cy="60" rx="10" ry="25" fill="#004225"/>
    <ellipse cx="100" cy="140" rx="10" ry="25" fill="#004225"/>
    <ellipse cx="60" cy="100" rx="25" ry="10" fill="#004225"/>
    <ellipse cx="140" cy="100" rx="25" ry="10" fill="#004225"/>
  </g>
  <text x="100" y="180" text-anchor="middle" font-family="serif" font-size="35" fill="#6B705C">Blomsterform</text>
</svg>




    <ul class="nav-list">
        <li><a class="nav-links" href="{{ siteUrl() }}">HOME</a></li>
        <li><a class="nav-links" href="{{ siteUrl('about') }}">ABOUT</a></li>
        <li><a class="nav-links" href="{{ siteUrl('contact') }}">CONTACT</a></li>
        <li><a class="nav-links" href="{{ siteUrl('pottery/gallery') }}">GALLERY</a></li>
    </ul>
</nav>

