.nav-list {
  display: flex;
  gap: 2rem;
  list-style: none;
  height: 10rem;
  align-items: center;
}

.nav-links {
    color: black;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    /* font-family: 'Quicksand', sans-serif; */
    /* font-family: 'Cormorant Garamond', serif; */
    font-family: 'Poppins', sans-serif;
font-weight: 300;
    font-size: 0.8rem;
    letter-spacing: 0.4em; /* Adjust this value as needed */
    text-decoration: none;
    color: rgb(0, 66, 37);
}

.nav-bar{
        background-color: rgb(171, 171, 232);
    display: flex;
    justify-content: center;
}